.fixed {
    position: fixed;
    top: 7vh;
    left: 0;
    height:12vh; 
     background: #333;
    color: #fff;
    text-align: center;
   width: 100vw;
    /* backgroundColor: '#d6ffa6', height: '100vh', width: '20%',minWidth:'150px',position:'fixed',marginTop:0,paddingLeft:'2vh',paddingRight:'2vh' */
}
.fixed {
    display: flex;
    flex-direction: row-reverse;
   
    flex-wrap: wrap; /* Allow items to wrap to new line */
    max-height: 80vh;
    /* Set a maximum height for the container */
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
   
  }
  .log{
    margin-top: 15vh; /* Ensure content starts below the logo by adding margin-top equal to logo height */
    /* padding: 10vh; */
    
    color: black;
  }
  .business-item.empty {
    display: none; 
}
 
  
  .business-item {
    padding-top: 2vh;
    padding-right: 2vh;
    padding-left: 5vh;
    flex: 1;
    font-style: italic;
    padding: 10px; /* Add padding as needed */
  }
  .links {
    background-color:  #333;
    position: fixed;
    display: flex;
    
  }
  .links {
    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center;
  }
  
  .link {
    margin-right: 30px;
    width: 15vh;
  }
 
  .content{
display: flex;
flex-direction: column;
  }
  .link {
  
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    background-color:antiquewhite;
    cursor: pointer;
    color: black;
    transition: color 0.3s; /* Add a transition effect for smoother color change */
}
.link {
    color: black; /* Set initial text color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Add a transition effect for smoother color change */
  }
  
  .link:hover {
  background-color: burlywood;
    color: black;
  }
 