.right-to-left-label {
    direction: rtl;
  }
  .orange {
    color: orange;
  }
  
  .green {
    color: green;
  }
  
  .purple {
    color: purple;
  }
  .lightgray{
    color: rgb(195, 193, 193);
  }
  .log{
    
    margin-top: 3vh;
    padding-bottom: 2vh;
    padding: 10vh;
  }
  .meet2{
    padding-top: 4vh;
    padding-bottom: 0;
    border-style:double;
    border-color: blanchedalmond;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: bold;
  }
  .meet{
  
    padding-bottom: 3vh;
    border-style:double;
    border-color: blanchedalmond;
    border-left: none;
    border-right: none;
    border-top: none;
   
   
}
